body {
  background-color: #BBCBDD;
  padding-top: 100px;
  padding-bottom: 40px;
  color:#5CB85C;
}

.table-bordered{
	color: black;
}

.col-md-6{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:100px;
    width: 50%;
    float: left;
}